
.NameAndView{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NameAndView p{
    font-weight: bold;
    color: rgba(80, 1, 1, 0.728);
    font-family: 'Libre Baskerville', serif;
}
.featuredProduct{
    border: 1px solid rgba(97, 7, 7, 0.381);
    border-radius: 2px;
}
.productName{
    text-align: center;
}
.FeatureProductText{
    display: flex;
    justify-content: space-between;
    
}