.productCategory{
    padding: 0 20px 60px 20px;
}
.productCategory h1{

    padding-bottom: 3%;
    font-size: 35px;
    color: rgb(77, 16, 16);
    font-family: 'Libre Baskerville', serif;
}

.AllProducts button{
    font-size: 40px;
    width: 90%;
    border-radius: 40%;
    border: 1px solid rgba(165, 42, 42, 0.307);
    padding: 10px 0px;
    color: rgb(57, 1, 1);
    background-color: rgba(165, 42, 42, 0.087);
}
.AllProducts button:hover{
    background-color: rgba(83, 2, 2, 0.505);
    cursor: pointer;
}