.shippingSytem{
    margin: 0 45px;
    padding-bottom: 50px;
}
.singleShipping{
    background-color: rgba(204, 62, 62, 0.171);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px 5px;
    border: 1px solid rgba(165, 42, 42, 0.221);
}
.iconStyle{
    font-size: 35px;
    color: rgba(73, 4, 4, 0.616);
}
.singleShipping h6{
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 1px;
}
.singleShipping p{
    font-weight: 400;
    color: gray;
}